*, ::after, ::before {
  box-sizing: border-box;
}

.navbar {
  position: relative;
}

.navbar-nav .navigation {
  transition: all .5s;
}

.navigation, .navigation:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  padding: .5rem 1rem;
  color: #fff !important;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #14142b 50%);
  border-radius: 15px;
  background-size: 220%;
  transition: all .4s; 
}

.navigation:hover, .navigation:active {
  background-position: 100%;
  transform: translateX(1rem); 
  color: white !important;
  font-weight: bold;
}